/* http://www.thecssninja.com/css/even-better-image-preloading-with-css2 */
body:after {
    content: url("@{plugin-image-path}/off.png") url("@{plugin-image-path}/on.png");
    display: none;
}

/* dark theme */
.cs50-theme-dark {
    background-image: url("@{plugin-image-path}/off.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

/* light theme */
.cs50-theme-light {
    background-image: url("@{plugin-image-path}/on.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
